# Model parameters
gPts      = 3
deltat    = 0.00100
nCells    = 196
TissueCenter    = -0.18099
TissueCenter    = -0.15140
dynamicTimeStepFlag      = false
perturbseedbucklingflag  = false
periodicboxflag          = true
useVTUflag = true

kp        = 1.00000
kd        = 1.00000
ConcInit       = 0.03000

bvisc     = 0.020000
lame1     = 0.100000
lame2     = 0.100000

activA            = 1.00000
activB            = 1.00000
activL            = 0.50000
eta_f        = 1.000000E-08

# Applied deformation
DelF00    = 0.00000
DelF01    = 0.00000
DelF10    = 0.00000
DelF11    = 0.00000

basaltractions    = 0.00000

# Periodic tension parameters
Lxinit    = 24.22548
Lyinit    = 24.22548
sigx_per    = 0.00000
sigy_per    = 0.00000

# Re-stiffening parameters
memb_thresh_high = 1.5
memb_thresh_low  = 8.00000e-1
memb_lam_high    = 1.000000E-1
memb_lam_low     = 1.000000E-1

# Load step parameters
loadcase             = 3
tcycle               = 10000.00000
tequi                = 0.00000
pull_begin           = 0.00000
pull_stretchduration = 1.0000
pull_mag             = 1.00000
push_begin           = 15.00000
push_stretchduration = 30.00000
push_mag             = 0.00000
totalTime            = 100.00000
deltat_max           = 0.10000
tinit_opto           = 0.00000
tfinal_opto           = 0.00000
BetweenrelaxTime           = 0.00000

# Solver parameters
MAXITER             = 10
nIterChange 	    = 8
AZMAXITER           = 5000
SOLTOL              = 1.000000E-08
RESTOL              = 1.000000E-08

solverflag          = 0

nResSteps           = 200

