# Model parameters
gPts      = 1
deltat    = 0.1000


dynamicTimeStepFlag      = 0
perturbseedbucklingflag  = 1
periodicboxflag          = 0

mu        = 0.00000
lambda    = 0.00000
kp        = 1.00000
kd        = 1.00000

ConcInit       = 0.03000
constbulkflag  = 1.00000

bvisc     = 0.25000
lame1     = 1.00000
lame2     = 1.00000

activA    = 1.00000
activB    = 1.00000
activL    = 0.50000

eta_f        = 0.000000E+00
eta_f_basal  = 0.000000E+00

# Applied deformation
DelF00    = 1.00000
DelF01    = 0.00000
DelF10    = 0.00000
DelF11    = 0.00000

# External stress
sigma_e_00    = 0.00000
sigma_e_01    = 0.00000
sigma_e_10    = 0.00000
sigma_e_11    = 0.00000

creepleftflag    = 0
creeprightflag   = 0
creeptopflag     = 0
creepbottomflag  = 0

# Re-stiffening parameters
memb_thresh_high    = 20
memb_thresh_low     = 0
memb_lam            = 3.000000e-03

# Load step parameters
loadcase             = 2
tcycle               = 100000.00000
tequi                = 25.00000
pull_begin           = 0.00000
push_stretchduration = 0.010
pull_stretchduration = 25.00000
push_begin           = 75.00000
totalTime            = 150.00000
deltat_max           = 5.00000
push_mag             = 0.00000
pull_mag             = 0.50000

# Solver parameters
MAXITER             = 10
AZMAXITER           = 5000
SOLTOL              = 1.000000E-08
RESTOL              = 1.000000E-08
AZSOLTOL            = 1.000000E-08
nPrecUpdate         = 1

solverflag          = 1

